/* creo variables en css */
:root{
    --header-height: 80px;
    --logo-with: 60px;
    --color-txt-main: #000000;
    --color-txt-gray: #6c6c6c;
    --color-main: #5d9c59;
    --color-white: #ffffff;
    --color-gray-bg:  #f4f4f4;
    --container-max-width: 1300px;
}

/* global css */
*, 
*::after, 
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body{
    padding-top: var(--header-height);
    background-color: var(--color-white);
}

img{
    max-width: 100%;
}

.Logo img{
    width: 9rem;
}

a {
    color: unset;
}

a:hover{
    color: var(--color-main);
}

.container{
    max-width: var(--container-max-width);
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn{
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    background-color: var(--color-main);
    color: var(--color-white);
    cursor: pointer;
    font-weight: bold;
}

.no-margin{
    margin: 0 !important;
}

section{
    margin-bottom: 9rem;
}

.section__title{
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.7rem;
}

.bg-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* global css */
/* ---------------- */
/* header */
/* ---------------- */
header{ /*elemento header, le doy propiedades de su formato*/
    background-color: var(--color-white);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* contenedor del header, le damos flexbox para alinearlo que no es lo mismo usarlo en el elemento header*/
.header__content{ 
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo img{
    width: var(--logo-with);
}
/* clase abrir y cerrar menu items iconos*/
.btn-close-menu, 
.btn-open-menu{
    display: none;
}

.header__menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.header__content nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* hago que el contenedor sea horizontal */
.header__content nav ul{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* letras del navbar */
.header__content ul>li {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
/* espacio de los costados de cada item del navbar */
.header__content ul>li~li{
    margin-left: 2rem;
}

/* header */
/* hero slide */
.hero__swiper{
    height: 60vh;
}

.hero__swiper .swiper-slide{
    position: relative;
}

.hero__swiper .container{
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
/* contenedor de todo el carusel */
.hero__content{
    height: 100%;
    display: flex;
    align-items: center;
}
/* imagen del producto */
.hero__img{
    text-align: center;
    width: 50%;
}

.hero__txt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.hero__txt h2{
    font-size: 5.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.hero__txt p {
    line-height: 1.5;
    margin-bottom: 5rem;
}
/* imagen de fondo del carusel */
.hero__bg {
    position: relative;
    height: 100%;
}
/* creamos una capa blanca transparente encima por eso after */
.hero__bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238 238 238 /75%);
}
/* los botones del carrusel */
.hero__swiper .swiper-pagination{
    bottom: 1rem;
    text-align: left;
    padding-left: 1rem;
    max-width: var(--container-max-width);
    left: 50%;
    transform: translateX(-50%);
    
}


/* color del redondo NO seleccionado */
/* .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {} */


.hero__swiper .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 0 !important;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
}
/* color del redondo(boton) seleccionado */
.swiper-pagination-bullet-active{
    background-color: var(--color-main);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8); 
}


/* color del redondo NO seleccionado */
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.6;
    transition: 1s;
}

/* hero slide */