*{
    background: #222;
}
/* contenedor */
.container {
    max-width: 980px;
    margin-inline: auto;
    padding: 100px 15px;
}
/* titulo */
.faq__header-title {
    font-size: clamp(26px, 5vw, 40px);
    color: #fff;
    margin-bottom: 30px;
}
/* solapa contenedor*/
.faq__panel{
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 8px;

}
/* solapa contenido*/
.faq__label {
    padding-block: 8px;
    color: #f4f5f6;
    cursor: pointer;
}

.faq__panel-answer {
    color: #777e91;
    padding-top: 5px;
    padding-bottom: 7px;
}