*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #628efc;
}

.wrapper {
    user-select: none;
}
/* rectangulo blanco */
.wrapper .time {
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 20px;
    padding: 0 10px;
}
/* numeros */
.wrapper .time span {
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
}
/* espacio entre numeros */
.time span.colon {
    width: 10px;
}
/* Milisegundos */
.time span.ms-colon, .time span.milisecond{
    color: #7d2ae8;
}
/* centrar los botones */
.wrapper .buttons{
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #7d2ae8;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius:  4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px;
}
/* para JS el active cuando se de click */
.buttons button.active,
/* para cuando se deje de seleccionar, se cambie la modificacion */
.buttons button.stopActive{
    pointer-events: none; 
    opacity: 0.7;
}
